* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
  --abu:#929898;
  --oren:#ff9500;
  --ijau: #00AD9F;
  --hytam:#072830;
  --tung:#F9FBFC;
  --bdwhite: rgb(224, 224, 224);
}
body {
    font-family: "Poppins", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

