* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --abu:#929898;
  --oren:#ff9500;
  --ijau: #00AD9F;
  --hytam:#072830;
  --bdwhite: rgb(224, 224, 224);
}

/* Header & Navbar */

body {
    font-family: "Poppins", sans-serif;
}

header {
    padding: 10px 40px;
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
}

header h1 {
    color:var(--ijau)
}
header h1 span {
    color:var(--oren);
}

header nav {
    font-size: medium;
    display: flex;
    justify-content: center;
    height: 100%;
}

header nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a{
    color: var(--abu);
    text-decoration: none;
}

header nav ul li #active{
    color: var(--hytam);
    text-decoration: none;
}

header .btn-login button {
    font-weight: bold;
    cursor: pointer;
    color:white;
    border-radius: 6px;
    border: none;
    padding:10px;
    background-color:var(--ijau) ;

}

header .btn-login .login {
    border:1px solid var(--bdwhite);
    background-color: white;
    color:#333333;
    transition-duration: 0.5s;
}
header .btn-login .login:hover {
    background-color: var(--ijau);
    color:white;
}

/* Homepage */
main {
    margin-bottom: 200px;
}
main .home {
    width: 100%;
    padding: 10px;
}

main .home .img-home {
    width: 100%;
    height: auto; 
    border-radius: 10px;
    object-fit: cover;
    max-height: 500px;
}

main .home .container-img {
    position: relative;
}

main .box-search {
    bottom: -40px;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
}

main .box-search .search  {
    position: relative;
    width: 70%;
}


main .box-search .search input {
    transition: ease-in-out .5s;
    color:var(--hytam);
    outline: none;
    box-shadow: 1px 1px 3px rgba(71, 71, 71, 0.562);
    width: 100%;
    border: 1px solid var(--bdwhite);
    border-radius: 6px;
    padding: 20px;
    font-size: medium;
}

main .box-search .search input:focus {
    outline: 1px solid var(--oren);
}

main .box-search .search button .icon-search {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 10px;
    width: 30px;
    height: 30px;
}
