/* Header & Navbar */
header {
    padding: 10px 40px;
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
}

header h1 {
    color:var(--ijau)
}
header h1 span {
    color:var(--oren);
}

header nav {
    font-size: medium;
    display: flex;
    justify-content: center;
    height: 100%;
}

header nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a{
    color: var(--abu);
    text-decoration: none;
}

header nav ul li a:hover {
    opacity: 80%;
}

header nav ul li #active{
    color: var(--hytam);
    text-decoration: none;
}

header .btn-login button {
    font-weight: bold;
    cursor: pointer;
    color:white;
    border-radius: 6px;
    border: none;
    padding:10px;
    background-color:var(--ijau) ;

}

header .btn-login .logout{
    font-weight: bold;
    cursor: pointer;
    color:white;
    border-radius: 6px;
    border: none;
    padding:10px;
    background-color:var(--ijau) ;

}

header .btn-login .login {
    border:1px solid var(--bdwhite);
    background-color: white;
    color:#333333;
    transition-duration: 0.5s;
}
header .btn-login .login:hover {
    background-color: var(--ijau);
    color:white;
}

/* Homepage */
main {
    background-color: var(--tung);
}
main .home {
    width: 100%;
    padding: 10px;
}

main .home .img-home {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    max-height: 500px;
}

main .home .container-img {
    position: relative;
}

main .box-search {
    bottom: -40px;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
}

main .box-search .search  {
    position: relative;
    width: 70%;
}


main .box-search .search input {
    transition: ease-in-out .5s;
    color:var(--hytam);
    outline: none;
    box-shadow: 1px 1px 3px rgba(71, 71, 71, 0.562);
    width: 100%;
    border: 1px solid var(--bdwhite);
    border-radius: 6px;
    padding: 20px;
    font-size: medium;
}

main .box-search .search input:focus {
    outline: 1px solid var(--oren);
}

main .box-search .search button .icon-search {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 10px;
    width: 30px;
    height: 30px;
}


main .destination {
    background-color: var(--tung);
    height: 100%;
    padding: 30px;
}

main .destination .container-destination {
    padding: 50px 10px;
}

main .destination .container-destination h1{
    font-size: 40px;
    padding-bottom: 5px;
    border-bottom: 1px solid  rgba(121, 121, 121, 0.233);
    color:var(--hytam);
}

main .destination  .card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    height: 100%;
}

main .destination .card {
    overflow: hidden;
    color: var(--hytam);
    width: 300px;
    border: 1px solid var(--bdwhite);
}

main .destination .card .box-card {
    width: 300px;
}

main .destination .card .box-card .img-card {
    width: 100%;
    height: 300px;
}

main .destination .card .card-desc {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding:15px;
}
main .destination .card .card-desc  .desc {
    font-size: small;
    width: 100%;
    justify-content: space-between;
    display: flex;
}
main .destination .card .card-desc  .desc div {
    display: flex;
    height: 100%;
    align-items: center;
    gap:5px;
}
main .destination .card .card-desc  .desc img{
    width: 20px;
    height: 20px;
}

main .destination .card .card-desc .footer-desc {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    display: flex;
}
main .destination .card .card-desc .footer-desc button {
    cursor: pointer;
    border-radius: 7px;
    background-color: white;
    padding:10px;
    font-weight: bold;
    color: var(--hytam);
    transition: ease-in-out .5s;
    border: 1px solid var(--bdwhite);
}
main .destination .card .card-desc .footer-desc button:hover {
    color:white;
    background-color: var(--oren);
}


/* Footer */
footer {
    width: 100%;
    height: 250px;
    padding:30px;
    background-color: var(--hytam);
    
    color:white;
}
footer li {
    list-style: none;
}
footer p {
    width: 200px;
    font-weight: 200;
}

footer a {
    text-decoration: none;
    color:white;
    font-weight: 200;
}

footer a:hover {
    opacity: 80%;
}

footer div {
    display: flex;
    justify-content: space-between;
}
footer div .f1 {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 10px;
}
footer div .f1 h3 {
    font-weight: bold;
}
footer div .f1 h1 {
    color:var(--oren);
}
footer div .f1 h1 span {
    color:var(--ijau);
}